p {
  color: black;
  text-align:left;
}
#test-id-1 {
  color:black;
}
.test-class{
  font-weight:bold;
  color: cadetblue;
}

a {
  color:cadetblue;
  text-decoration: none;
}

a:hover {
  font-weight:bolder;
  color: darkorange;
}

h1{
  color: cadetblue;
  text-align:center;
  font:350% georgia;
}
h2{
  color: cadetblue;
  text-align:center;
  font:200% georgia;
}

.center{
  width:40%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*.cu{
  width:20%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}*/
.MorganStanley {
  width:30%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.PeakRunning{
  width:30%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.Precept{
  width:30%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.LinkedIn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
.Email {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 19%;
}
.Phone {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
hr {
  margin-top: auto;
  border-style: dotted;
  color: steelblue;
}
.Art {
  width: 50%;
    text-align:center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 400px) {
    body {
      margin: 0;
      padding: 0;
      border-style: double;
      border-color: cadetblue;
      background-color: White;
    }
    .box {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      background-color: White;
      padding: 20px;
      gap: 20px;
    }
    .title {
      background-color: powderblue;
      text-align: center;
      padding: 5px;
      grid-column:span 4;
      grid-row:span 4;

    }
    .nav li{
      background-color: powderblue;
      /*text-align:left;*/
      padding: 10px 30px;
      border-bottom: none;
      height: 50px;
      line-height: 50px;
      display: inline-block;
      font: georgia;
    }
    .nav2 li{
      padding: 15px 40px;
      height: 30px;
      line-height: 20px;
      display: inline-block;
      font: georgia;
      text-align: center;
    }
    .content {
      background-color: powderblue;
      padding: 10px 50px;
      grid-column:span 4;
      grid-row:span 4;
      font: georgia;
    }

@media screen and (max-width: 399px) {
    body {
      background-color: white;
    }
    .box {
      display: grid;
      grid-template-columns: 2fr;
      grid-template-rows: 1fr 1fr;
      background-color: white;
      padding: 20px;
      gap: 10px;
    }
    .title {
      background-color: powderblue;
      text-align: center;
      padding: 2px;
      grid-column:1;
      grid-row:1;
    }
    .nav li {
      display: none;
    }
    .content {
      background-color: powderblue;
      padding: 20px;
      grid-column:1;
      grid-row:2;
      font: georgia;

    }
