p {
  color: black;
  text-align: left;
}
#test-id-1 {
  color:black;

}
h1 {
color:cadetblue;
font:350% san-serif;
text-align: center;

}


.test-class {
  font-weight: bolder;

}

a {
  color: cadetblue;
  text-align: right;
}
a:hover {
  color: darkorange;
  font-weight: bold;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height:auto;
  border-radius: 8px;
}

img[src]{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height:auto;
  border-radius: 8px;
}
hr {
  margin-top: auto;
  border-style: dashed;
  color: steelblue;
}
body {
  background-color: snow;
  border-style: double;
}
ul {
  list-style-type: none;
  padding: 20px;
  gap:10px;
  margin: 0px;

}
@media screen and (min-width: 400px) {
  body {
    background-color: lightgray;
  }
  .box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: lightgray;
    padding: 20px;
    gap: 20px;
  }
  .title {
    background-color: powderblue;
    text-align: center;
    padding: 5px;
    grid-column:1/4;
    grid-row:1;
  }
  .nav {
    background-color: powderblue;
    text-align: center;
    padding: 5px;
    grid-column:1;
    grid-row:2;
  }
  .content {
    background-color: powderblue;
    padding: 5px;
    grid-column:2/4;
    grid-row:2/4;
  }
  img[src]{
    text-align: center;
    width: 60%;
    height:auto;
    border-radius: 8px;
}

}


@media screen and (max-width: 399px) {
  body {
    background-color: lightgray;
  }
  .box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: lightgray;
    padding: 20px;
    gap: 10px;
  }
  .title {
    background-color: powderblue;
    text-align: center;
    padding: 5px;
    grid-column:1;
    grid-row:1;
  }
  .nav {
    background-color: powderblue;
    text-align: center;
    padding: 5px;
    grid-column:1;
    grid-row:2;
  }
  .content {
    background-color: powderblue;
    padding: 5px;
    grid-column:1;
    grid-row:3;

  }
  img[src]{
    text-align: center;
    width: 100%;
    height:auto;
    border-radius: 8px;
}
}
