@media screen and (min-width: 400px) {
  body {
    background-color: lightgray;
  }
  .box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: lightgray;
    padding: 20px;
    gap: 20px;
  }
  .title {
    background-color: powderblue;
    text-align: center;
    padding: 5px;
    grid-column:1/4;
    grid-row:1;
  }
  .nav {
    background-color: cadetblue;
    text-align: center;
    padding: 5px;
    grid-column:1;
    grid-row:2/4;
  }
  .content {
    background-color: powderblue;
    padding: 5px;
    grid-column:2/4;
    grid-row:2/4;
  }
  img[src]{
    align-content:left;
    width: 30%;
    height:auto;
    border-radius: 8px;
}

}


@media screen and (max-width: 399px) {
  body {
    background-color: lightgray;
  }
  .box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: lightgray;
    padding: 20px;
    gap: 20px;
  }
  .title {
    background-color: powderblue;
    text-align: center;
    padding: 5px;
    grid-column:1;
    grid-row:1;
  }
  .nav {
    background-color: cadetblue;
    text-align: center;
    padding: 5px;
    grid-column:1;
    grid-row:2;
  }
  .content {
    background-color: powderblue;
    padding: 5px;
    grid-column:1;
    grid-row:3;

  }
  img[src]{
    align-content: center;
    width: 60%;
    height:auto;
    border-radius: 8px;
}
}
